# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools     |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Spyder                  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Introduce commonly used libraries
- Demonstrate creating tables in Markdown